body{background-color: #f5f5dd;}
h1{background-color: red;}
h2{background-color: blue;}
h1 + p{background-color: green;}
h2 + p{background-color: orange;}
ol{background-color: black;}

.c1{color: red}
.c2{color: orange}
.c3{color: white}
.c4{color: blue}
.c5{color: green}


